
    <section id="information-section">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <div class="p-5">
              <h1 class="display-4">Thank you for filling out the form!</h1>
              <p>
                Someone from our team will contact you soon!
              </p>
              <a href="/" class="btn btn-outline-warning">
                Fill Out Another Form
              </a>
            </div>
          </div>
        </div>
      </div>
    </section>