<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="...">
    <meta name="description" content="...">
    <meta name="author" content="garvitSingh">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    
    
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Overpass:300,400,400i,600,700" rel="stylesheet">

    <link rel="stylesheet" href="/css/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/css/css/animate.css">
    
    <link rel="stylesheet" href="/css/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/css/magnific-popup.css">

    <link rel="stylesheet" href="/css/css/aos.css">

    <link rel="stylesheet" href="/css/css/ionicons.min.css">

    <link rel="stylesheet" href="/css/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/css/css/jquery.timepicker.css">

    
    <link rel="stylesheet" href="/css/css/flaticon.css">
    <link rel="stylesheet" href="/css/css/icomoon.css">
    <link rel="stylesheet" href="/css/css/style.css">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
    rel="stylesheet">

    <title>IdolPanda</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light scrolled awake" id="ftco-navbar">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="/Images/logo.jpeg" width="50" height="50" alt="">
          Victorious Birdnest
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <img src="/Images/list-24px.svg" alt="Menu" class="svg-menu">
        </button>
  
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav ml-auto">
            <ul class="navbar-nav ml-auto shift-list">
              <li class="nav-item active">
                <a href="#official-site" class="nav-link">Official website</a>
              </li>
              <li class="nav-item active">
                <a href="#contact-us" class="nav-link">Contact Us</a>
              </li>
            </ul>
          </ul>
        </div>
      </div>
    </nav>
{{!-- 
    <div id="image-container">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-4 col-sm-12">
            <img src="/Images/idolPanda.png" id="image-background" alt="">
          </div>
          <div class="col-lg-8 col-sm-12 mt-5">
            <h1 class="display-4 mt-5"><strong>About Us</strong>
            </h1>
              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  We are a Healthcare Industry LoveLEE (Victorious Birdnest).
                  We do Pharaceutical Inventions. 
                  We have our free vedios created at postermywall.com .

                </div>
              </div>
              <div class="d-flex flex-row">
                <div class="p-4 align-self-start">
                  <i class="fa fa-check"></i>
                </div>
                <div class="p-4 align-self-end">
                  Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
                  Minima consequatur nihil excepturi sapiente praesentium voluptate, 
                  ullam eveniet aspernatur accusamus tempora consectetur 
                  dolorem sit voluptas odit, vel impedit amet dolorum sint!
                </div>
              </div>
          </div>
        </div>
      </div>
    </div> --}}

    <div style="margin-top: 100px;"></div>

    <header class="home-section">
      <div class="dark-overlay">
        <div class="home-inner">
          <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-12 offset-lg-2">
                {{{body}}}
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>



    <!-- <form name="submit-to-google-sheet">
      <input name="email" type="email" placeholder="Email" required>
      <button type="submit">Send</button>
    </form> -->
    <!-- JS -->
    {{!-- <script src="/indexJs/form.js"></script> --}}
    <script src="/css/js/jquery.min.js"></script>
    <script src="/css/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="/css/js/popper.min.js"></script>
    <script src="/css/js/bootstrap.min.js"></script>
    <script src="/css/js/jquery.easing.1.3.js"></script>
    <script src="/css/js/jquery.waypoints.min.js"></script>
    <script src="/css/js/jquery.stellar.min.js"></script>
    <script src="/css/js/owl.carousel.min.js"></script>
    <script src="/css/js/jquery.magnific-popup.min.js"></script>
    <script src="/css/js/aos.js"></script>
    <script src="/css/js/jquery.animateNumber.min.js"></script>
    <script src="/css/js/bootstrap-datepicker.js"></script>
    <script src="/css/js/jquery.timepicker.min.js"></script>
    <script src="/css/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="/css/js/google-map.js"></script>
    <script src="/css/js/main.js"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    
  </body>
</html>